
.main{
    text-align: center;
}



.labelClass{
    display: inline-block;
    margin-right: 1%;
}
.inputClass{
    height: 30%;
    width: 15%;
}
.labelEmail{
    display:inline-block;
    margin-right: 3%;
}
.button{
    padding: 7px;
    margin: 31px;
    color: green;
}